:root {
  --bgc-primary-color: hsl(223, 19%, 93%);
  --text-primary-color: hsl(217, 9%, 28%);

  --overlayer-color: hsl(254, 26%, 13%);

  --bgc-dark-theme: hsl(224, 24%, 18%);
  --subheader-dark-theme: hsl(220, 33%, 46%);
  --text-dark-theme: hsl(0, 0%, 90%);

  --header-height: 50px;
  --hero-height: 100vh;
  --highlight-height: 320px;
}