.wrapper {
  height: 100vh;
  margin-top: calc(var(--highlight-height) / 1.3);
}

.sentinel {
  position: absolute;
  width: 100%;
  height: 75px;
  top: 0;
  left: 0;
  visibility: hidden;
  z-index: 995;
}